*{
    font-family: 'Ubuntu', sans-serif;
}

a{
    color:#1F1461;
}

a:hover {
    text-decoration: none
}

a a:focus {
    outline: none
}

h2{
    font-weight: 600;
    letter-spacing: 0.034em;
    line-height: 1.1;
    font-size: 2.2rem;
}

body{
    margin: 0;
}
.header{
	display: flex;
    width: 100%;
	font-size: 15px;
    font-weight: 400;
}


.elements{
    flex: 1;
    margin: 10px;
}

.elements i{
    font-size: 16px !important;
}

.header:first-child{
    margin-right: 20px;
}


.header i{
	font-size: 30px;
}

.header .line{
	border-right: 1px white solid;
}



/*search box css start here*/
.search-sec{
    padding: 2rem;
    position: relative;
    z-index: 1000;
}


.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: rgb(26, 36, 45);
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

@media (min-width: 992px){
    .search-sec{
        background:rgb(26, 36, 45,0.8);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}






#myCarousel{
    height: 500px;
}


@media (max-width: 992px){
    #myCarousel{
        height: 400px;
    }
}

@media (max-width: 992px){
    .inner-items{
        margin-top: 20px;
    }

}

@media (max-width: 420px){
    
    #myCarousel img{
        margin: 0;
        width: 80% !important;
    }

}

@media (max-width: 767px){
    .inner-items{
      margin: 0px !important; 
    }

    .inner-items h4{
        display: none;
    }

    .inner-items p{
        display: none;
    }

    #myCarousel img{
        margin: 0;
        width: 40%;
    }

    .inner-items:first-child{
        margin-top: 20px;
        text-align: center;
    }

}



#myCarousel img{
    margin-top: 20px;
}

#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
    font-size:50px;
    margin-bottom:15px;
    color:#FFF;
    line-height:100%;
    letter-spacing:0.5px;
    font-weight:600;
}
#myCarousel p{
    font-size:18px;
    margin-bottom:15px;
    color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
    opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
    .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
    }
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


.inner-items{
    margin-left: 50px;
}




.categories-icon .icon-box {
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 4px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.categories-icon .icon-box .icon {
    margin-bottom: 15px
}

.categories-icon .icon-box .icon i {
    width: 80px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    color: #999;
    font-size: 48px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.categories-icon .icon-box h4 {
    font-size: 16px;
    color: #484848;
    font-weight: 500;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.categories-icon .col-xs-12 {
    width: 50%
}

.categories-icon .icon-box:hover {
    background: #1a222d;
    box-shadow: 0 16px 20px 0 rgba(216, 216, 216, .75)
}

.categories-icon .icon-box:hover .icon i {
    font-size: 42px;
    color: #fff
}

.categories-icon .icon-box:hover h4 {
    color: #fff
}




.product-grid4,.product-grid4 .product-image4{position:relative;margin: 10px;height: 210px; }
.product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s;height: 400px;margin-bottom: 40px;}
.product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:auto}
.product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-1{opacity:0}
.product-grid4 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-2{opacity:1}
.product-grid4:hover .product-new-label{opacity:0}
.product-grid4 .product-content{padding:25px}
.product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid4 .title a{color:#222}
.product-grid4 .title a:hover{color:#16a085}
.product-grid4 .price{color:#16a085;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid4:hover .add-to-cart{border:1px solid transparent;background:#16a085;color:#fff}
.product-grid4 .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}
@media only screen and (max-width:990px){.product-grid4{margin-bottom:30px}
}

@media (max-width: 420px){
    .product-grid4 .product-image4{
        height: auto;
    }
    .product-grid4 .product-image4 img{
        width: 158px;
        height: 158px;
    }

    .product-grid4{
        display: flex;
        height: 175px;
    }
    .product-grid4 .product-content{
        padding: 10px;
    }

    .product-grid4 .add-to-cart{
        color: #1a222d;
    }

}

@media (max-width: 420px){
    .product-grid4 .price{
        font-size: 13px;
    }

}

